In [ ]:
# importing packages we need, 
# so that we can use functions inside those packages
from datascience import *
import numpy as np # abbreviated module numpy as np, for ease

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

## Words of Caution ##
- Remember to run the cell above. It's for setting up the environment so you can have access to what's needed for this lecture. For now, don't worry about what it means: we'll learn more about what's inside of it in the next few lectures.
- Data science is not just about code, so please don't go over this notebook by itself. Have the relevant textbook sections or lecture video at hand so that you can go over the discussion along with the code. Thank you!

## Python ##

In [ ]:
# help function gives me more information on what the function i'm intereseted in, does
help(abs) # help function, python ignores my comments that start with a #

In [ ]:
# I'm going to take the absolute value of -1
abs(-1) # comments are your friends!

In [ ]:
help(np.mean)

In [ ]:
2 + 9

In [ ]:
2 * 9

In [ ]:
2 / 9

In [ ]:
2 + 3 * 9

In [ ]:
(2 + 3) * 9

In [ ]:
# two to the power of four: 2 * 2 * 2 * 2
2 ** 4

In [ ]:
"hello"

In [ ]:
message_to_myself = "hello"
message_to_myself

In [ ]:
message_to_myself

## Names ##

In [ ]:
a = 4

In [ ]:
a

In [ ]:
b = 9

In [ ]:
b

In [ ]:
a * 3 # 4*3 = 12

In [ ]:
total = a + b # variable assignment, I am assigning the variable name,
# total with the value of 4 + 9 = 13

In [ ]:
total # calling on variable, total, to display its output here

In [ ]:
a = 10 # we can overwrite variable values
a # before, a = 4, now a = 10

In [ ]:
total # because variable assignments are static, and we did not run total = a + b again
# after we changed the value of a, total remains the same and = 13.

In [ ]:
# if we want to update total, we re-do the variable assignment, with the updated a = 10
total = a + b # we are "manually" updating total with our new value of a

In [ ]:
total #this is a variable, called total which is currently equal to 19

In [ ]:
type('total') #this is a string of characters

In [ ]:
total = 'total' # we are overwriting the variable total, before total = 19
total # now it will equal the word 'total'

In [ ]:
total = '19' # overwrite again, before total = 'total'
total # now it will equal '19'

In [ ]:
type(19) # 19 is an integer

In [ ]:
type('19') # '19' is a string

### Why Names?

In [ ]:
hours_per_week = 40
weeks_per_year = 52

In [ ]:
hours_per_year = hours_per_week * weeks_per_year # 40 * 52

In [ ]:
hours_per_year
# full-time, i will work 2,080 hours in a year!

In [ ]:
# Minimum wage for businesses w/26 or more employees
# Goes up by $1/hr until 2022
ca_hourly_minimum_wage = 13.00

In [ ]:
weekly_wages = hours_per_week * ca_hourly_minimum_wage # 40 * 13
weekly_wages

In [ ]:
yearly_wages = hours_per_year * ca_hourly_minimum_wage # 2080 * 13
yearly_wages

In [ ]:
40 * 13.00 # weekly wages

In [ ]:
40 * 52 * 13.00 #yearly wages

## Functions and Call Expressions

In [ ]:
abs(-100)

In [ ]:
my_variable = -10

In [ ]:
abs(my_variable)

In [ ]:
abs(1 - 3) # abs(-2) = 2

In [ ]:
day_temp = 70
night_temp = 50
abs(night_temp - day_temp) # abs(-20) = 20

In [ ]:
help(min)

In [ ]:
min(15, 14)

In [ ]:
help(round)

In [ ]:
round(123.456)

In [ ]:
round(123.456, 1)

In [ ]:
round(123.456, ndigits=3)

## Tables ##

In [ ]:
cones = Table.read_table('data/cones.csv')
cones

In [ ]:
cones.show(3)

In [ ]:
cones.show()

In [ ]:
cones.select('Flavor')

In [ ]:
cones.select('Flavor', 'Price')

In [ ]:
cones.select('Flavor', 'Price')

In [ ]:
cones.drop('Price')

In [ ]:
cones

In [ ]:
cones_without_price = cones.drop('Price')
cones_without_price

In [ ]:
cones.where('Flavor', 'chocolate')

In [ ]:
cones.sort('Price')

In [ ]:
cones.sort('Price', descending=True)

In [ ]:
cones.sort('Flavor', descending=True)

### A more interesting table

In [ ]:
skyscrapers = Table.read_table('data/skyscrapers.csv')
skyscrapers

In [ ]:
skyscrapers.where('city', 'Los Angeles')

In [ ]:
skyscrapers.where('name', 'Empire State Building')

In [ ]:
skyscrapers.where('city', 'New York City').sort('completed')

In [ ]:
skyscrapers.where('city', 'New York City').sort('completed', descending=True)